*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(180, 255, 204);
}
header{
    background-color: rgb(11, 153, 151);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
    line-height: 100px;
}
nav{
    background-color: rgb(11, 153, 151);
    height: 40px;
    border-right: 50px;
    margin-right: 50%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 25px
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    color:black;
}
nav ul li{
        margin: 10px
    }
.clearfix{
    clear: both;
}
#content{
    float: left;
    width: 80%;
    min-height: 430px;
}
aside{
    float: left;
    width: 20%;
    height: 200px;
    background-color: rgb(11, 153, 151);
    border-radius: 25px;
}
aside{
    text-align: center;
}
aside h2{
    margin-top: 10px;
}
aside form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 20px;

}
aside form input[type="submit"]{
    background-color: cornflowerblue;
    width: 165px;
    border-radius: 10px;
    font-family:'Times New Roman', Times, serif;
    padding: 8px 16px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    color: white;
}
aside form input[type="text"]{
    padding: 8px 8px;
    border-radius: 10px;
    border: white;
}
.conteiner-mapa{
    width: 100%
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    border:3px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.container-mapa iframe{
    width: 100%;
    heigth: 100%;
    border: none;
}
footer{
    text-align:center;
    background-color: rgb(11, 153, 151);
    height: 23px;
    line-height: 23px;
}